<html>
    <head>
        <title>Alta Alumno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Cargar un nuevo Alumno</div>

        <form method='POST' action="{{url_for('insertAlumno')}}">
            <p>DNI(sin puntos)</p><input type="number" name='Dni' value='Dni' id='Dni' required>
            <br><p>Nombre</p><input type="text" name='Nombre' value='Nombre' id='Nombre'>
            <br><p>Apellido</p><input type="text" name='Apellido' value='Apellido' id='Apellido'>
            <br><p>Estado Civil(1=casado 0=Soltero)</p><select id="ECivil" name="ECivil">
                <option value="1">Casado</option>
                <option value="0">Soltero</option>
            </select>
            <br><p>Domicilio</p><input type="text" name='Domicilio' value='Domicilio' id='Domicilio'>
            <input type="submit">
        </form>
    </body>
</html>
