<!DOCTYPE html>
<html>
    <head>
        <title>Listado de Alumnos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Listado de alumnos</div>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Dni</td>
                <td>E_Civil</td>
                <td>Domicilio</td>
                <td>Editar</td>
                <td>Notas</td>
            </tr>
            {% for alumno in LAlumnos %}
            <tr>
                <td>{{alumno[0]}}</td>
                <td>{{alumno[1]}}</td>
                <td><a href="{{url_for('infoAlumno',Dni=alumno[2])}}">{{alumno[2]}}</td>
                <td>{% if alumno[3] == 1 %}Casad@{% else %}Solter@{% endif %}</td>
                <td>{{alumno[4]}}</td>
                <td><a href="{{url_for('editAlumno',Dni=alumno[2])}}">Editar</td>
                <td><a href="{{url_for('infoAlumno',Dni=alumno[2])}}">Notas</td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="{{url_for('cargarNotas')}}">Cargar Notas</a></p>
        <p><a href="altaAlumno">Cargar Alumno</a></p>
    </body>
</html>
