<html>
    <head>
        <title>Cargar Notas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Cargar Notas</div>

        <form method='POST' action="{{url_for('insertNota')}}">
            <label>Seleccionar Alumno</label><select id='Dni' name='Dni'>
                {% for alumno in LAlumnos %}
                <option value='{{alumno[2]}}'>{{alumno[0]}} {{alumno[1]}}</option>
                {% endfor %}
            </select><br>
            <label>Matematica</label><select id='mate' name='mate'>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='8'>7</option>
                <option value='9'>8</option>
                <option value='10'>10</option>
            </select><br>
            <label>Historia</label><select id='histo' name='histo'>

                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='8'>7</option>
                <option value='9'>8</option>
                <option value='10'>10</option>
            </select><br>
            <label>Lengua</label><select id='len' name='len'>

                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='8'>7</option>
                <option value='9'>8</option>
                <option value='10'>10</option>
            </select><br>
            <label>Gimnasia</label><select id='gym' name='gym'>

                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='8'>7</option>
                <option value='9'>8</option>
                <option value='10'>10</option>
            </select><br>
            <input type="submit">
        </form>
    </body>
</html>
