<!DOCTYPE html>
<html>
    <head>
        <title>Editar Alumno</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Editar a: {{ info[0][0] }} {{ info[0][1] }}</div>
        <form method='POST' action="{{url_for('updateAlumno')}}">
            <p>DNI</p><input type="text" name='Dni' value='{{info[0][2]}}' id='{{info[0][2]}}' readonly>
            <br><p>Nombre</p><input type="text" name='Nombre' value='{{info[0][0]}}' id='{{info[0][0]}}'>
           <br><p>Apellido</p><input type="text" name='Apellido' value='{{info[0][1]}}' id='{{info[0][1]}}'>
           <br><p>Estado Civil(1=casado 0=Soltero)</p><select id="ECivil" name="ECivil">
                <option value="1">Casado</option>
                <option value="0">Soltero</option>
            </select>
           <br><p>domicilio</p><input type="text" name='Domicilio' value='{{info[0][4]}}' id='{{info[0][4]}}'>
           <input type="submit">
        </form>
    </body>
</html>
