<!DOCTYPE html>
<html>
    <head>
        <title>Alumnos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<div>Notas de {{ nombre }} {{ apellido }}  </div>
    <table border="1">
            <tr>
                <td>Matematica</td>
                <td>Historia</td>
                <td>Lengua</td>
                <td>Gimnasia</td>
                
            </tr>
            {% for nota in notas %}
            <tr>
                <td>{{nota[1]}}</td>
                <td>{{nota[2]}}</td>
                <td>{{nota[3]}}</td>
                <td>{{nota[4]}}</td>
                
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>
